
.icon-search:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-picture:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-fire:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-retweet:before { content: '\e806'; } /* '' */
.icon-left-open:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */